*{margin: 0; padding: 0; box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
body{font-size: 18px; width: 100vw; height: 100vh;}
.icon {width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden;}
.page{width: 100%; height: 100%;}

.edit-wrapper{display: inline-block; position: relative;}
.edit-wrapper>.edit{left: 100%; position: absolute; width: 2em; background: #52BB55; border-radius: 5px;
  transition: all 0.3s; text-align: center; cursor: pointer; color: white; display: inline-block; opacity: 0; z-index: 10;}
.edit-wrapper:hover>.edit,.edit-wrapper>.edit.active{opacity: 1;}
.edit-wrapper>.edit-content{display: inline-block; opacity: 0; left: 0; top: 0; position: absolute;  width: 100%; height: 100%; transition: all 0.3s;}
.edit-wrapper>.edit-content textarea{width: 100%; height: 100%; font-size: inherit; overflow: hidden; resize: none; border-radius: 5px; 
  border: 1px solid #1296DB;}
.edit-wrapper>.edit-content.active{opacity: 1;}

/* 主页面 */
.page>div{display: flex; flex-direction: row; width: 100%; height: 100%;}
aside{width: 8%; display: flex; flex-direction: column; justify-content: space-between; 
  background: #3B4549; font-size: 80%;}

aside .up,aside .down{display: flex; flex-direction: column;}
aside .user>.icon{width: 2em; height: 2em;}
aside .down li{margin: 0 10px; border-top: 1px solid #444D51; padding: 10px 0; color: #77858B; cursor: pointer; text-align: center;}
aside .up li{margin: 0 10px; border: 1px solid #77858B; margin-top: 20px; padding: 5px 0; color: #77858B; cursor: pointer; 
  border-radius: 20px; font-size: 90%; text-align: center;}
aside .up li.user{border: none;}
aside .down ul{margin-bottom: 20px;}
aside .down li:last-child{border-bottom: 1px solid #444D51;}
aside .up li:hover,aside .down li:hover{color: white;}
aside .up{flex-grow: 1;}

main{background: #E8E8EA; width: 100%; padding: 12px 0 0 12px;}
main .main-page{width: 80%; height: 100%; background: white; padding: 50px 40px 0 40px; overflow: auto;}
main .profile{border-bottom: 2px solid black; padding-left: 40px;}
main .name{font-weight: 700; margin-bottom: 5px;}
main .job{margin-bottom: 26px;}
main .row{display: flex; flex-direction: row; width: 80%; margin-bottom: 18px;}
main .row:last-child{margin-bottom: 36px;}
main .row>div{width: 50%; display: flex; flex-direction: row; align-items: center;}
main .row>div>span{margin-left: 10px;}

main .skills{margin-top: 30px;}
main .skills ul,main .projects ul{margin-top: 20px; padding-left: 10px; border-left: 4px solid #1296DB;}
main .skills ul>li,main .projects ul>li{margin-top: 16px; margin-bottom: 26px;}
main .skills ul>li p{margin-top: 10px;}
main .skills h3,main .projects h3{color:#1296DB; font-weight: 700; font-size: 26px;}
main .skills h3 .icon,main .projects h3 .icon{fill: black;}
main .skills .skillName{display: flex; flex-direction: row; position: relative;}
main .skills .skillName::before,main .projects .projectName::before{content: ''; display: block; width: 10px; height: 10px; background: black; 
  border-radius: 50%; 
  position: absolute; left: -17px; top: 50%; margin-top: -4px; border: 2px solid white;}
main .skills .skillName>.skillMessage{margin-right: 36px;}
main .skills .skillName .star{position: relative;}
main .skills .skillName .star .edit-wrapper{position: absolute;width: 100%; height: 100%; font-size: 16px; resize: none; top: 0; left: 0; 
  width: 100%;}
main .skills .skillName .star .edit-wrapper textarea{width: 100%; height: 100%; font-size: inherit; overflow: hidden; resize: none;
  border-radius: 5px; border: 1px solid #1296DB;}
main .skills .skillName .star .messageName{display: none;}
main .projects{padding-top: 30px;}
main .projects .keywords{color: #1296DB; font-size: 15px; margin: 3px 0 8px 0;}
main .projects .projectName{position: relative;}

